body{
    background-image: url("../images/background.jpg");
    background-color: #242423;
    font-family:sans-serif;
}

#logo img{
    width: auto;
    height: 60px;
}

#logo{
    text-align: center;
    margin-top: 20px;
}

h1{
    text-align: center;
    color: white;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 50px;
}

#retour{
    margin: auto auto 20px 5px;
    text-align: left;
}

#retour a{
    font-size: 18px;
    text-decoration: none;
    color:white;
}

#link{
    margin-top: 40px;
}

#link a{
    font-size: 18px;
    text-decoration: none;
    color:white;
}

#link a:hover, #retour a:hover{
    color: #242423;
}

#link2 a{
    font-size: 18px;
    text-decoration: none;
    color: white;
}

#link2 a:hover{
    color: #242423;
}

#content{
    text-align: center;
    width: 50%;
    margin: auto;
    border-radius: 20px;
    padding: 50px;
    background-color: #e1782c70;

}

#titre{
    background-color: #141414ad;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

form{
    margin: auto;
}

#sexe{
    color: white;
    display: flex;
    width: 80%;
}

input{
    width: 90%;
    margin-bottom: 15px;
    padding: 10px;
    
}

.submit{
    width: auto;
}

/***************** table *****************/

td{
    color: white;
}

.activity-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.activity-table th, .activity-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.activity-table th {
    background-color: #f2f2f2;
}

.data-table {
    border: none;
}

.data-table th, .data-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.data-table th {
    background-color: #f2f2f2;
}

@media screen and (max-width: 2000px) {
    .activity-table {
        font-size: 14px;
        display: block;
        overflow-x: auto;
    }

    .activity-table th, .activity-table td {
        padding: 4px;
        display: table-cell;
    }

    .activity-table th {
        text-align: left;
        background-color: #f2f2f2;
    }
}